name: CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gemfile:
          - Gemfile
          - gemfiles/Gemfile-rails-6-0
          - gemfiles/Gemfile-rails-6-1
        ruby:
          - 2.7
          - 3.0
          - 3.1
          - 3.2
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    name: "Tests: Ruby ${{ matrix.ruby }} ${{ matrix.gemfile }}"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bin/rake
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
      - name: Run style checks
        run: bin/rubocop
  static_type_checking:
    runs-on: ubuntu-latest
    name: Type Checking
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          # bundler-cache: true
      - name: Run static type checks
        run: |
          bundle install --jobs 4 --retry 3
          bin/srb tc
  buildall:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Build (matrix)
    needs: [lint, tests, static_type_checking]
    steps:
      - name: Check build matrix status
        if: ${{ needs.tests.result != 'success' || needs.lint.result != 'success' || needs.static_type_checking.result != 'success' }}
        run: exit 1
